body{
    margin: 0;
    height: 100vh;
    background-color: black;
    color: white;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    /* main-height: 100vh; */
}

nav{
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

nav button{
    border: none;
    outline: none;
    padding: 10px 8px;
    color: white;
    cursor: pointer;
    background: steelblue;
}

.header{
    background-color: rgb(13,147,244);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.square{
    width: 130px;
    height: 130px;
    background-color: red;
    margin: 20px;
    border-radius: 15px;
    margin-top: 60px;
}

.squares{
    display: grid;
    grid-template-columns: repeat(3,140px);
    gap: 35px;
}

.fade{
    opacity: 0;
    transition: all 0.5s;
}